node_modules
.env
.env.*
!.env.production
dist
coverage
.DS_Store

# Vite
frontend/dist

# Nest
backend/dist
backend-javascript
migrations
postman

backup_railway_before_overwrite.sql
data.sql
full.sql
provider_manager.sql
chema_subscriptions.sql
schema.sql